<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- boxicon link  -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- remixicons link  -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- google fonts  -->
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkatra&family=Belanosima:wght@600&family=Carter+One&family=Caveat:wght@500&family=DynaPuff:wght@400;600&family=Inter&family=Lobster&family=Lugrasimo&family=Merienda:wght@300&family=Nanum+Myeongjo:wght@700&family=Oswald:wght@500&family=Secular+One&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <!-- header  -->
    <header>
        <a href="#" class="logo">
            <img src="../Images/pngwing.com (2).png" >
        </a>

        <ul class="navlist">
            <li><a href="../Pages/services.html">Services</a></li>
            <li><a href="../Pages/about.html">About us</a></li>
        </ul>

        <div class="h-right">
            <a href="../Pages/contact.html">Contact Us</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <!-- home section  -->
    <section class="home">
        <div class="home-text">
            <span> #Beauty</span>
            <h1>Whether you're seeking a new hairstyle <br> we're here to make it happen.</h1>
            <p>Step into our world of elegance and rejuvenation, where your beauty aspirations become a reality.</p>
        
            <div class="icons">
                <a href=""><i class="ri-facebook-circle-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""><i class="ri-twitter-x-line"></i></a>
                <a href=""><i class="ri-whatsapp-fill"></i></a>
            </div>
       
            <div class="main-btn">
                <a href="#" class="btn">NewOffers</a>
                <!-- <a href="#" class="btn22"> </a> -->
            </div>
        </div>   
    </section>

    <div class="social">
        <a href="#">
            <img src="../Images/scrolldown.png" alt="">
            Scroll Down
        </a>
    </div>
    
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="./script.js"></script>
</body>
</html>